body{
    font-size: 23px;
}

#header-img{
    width: 2.2rem;
}

.brand{
    font-size: 1.5rem;
    color: white;
}

.items{
    margin: 0 2rem;
    font-size: 1.2rem;
  font-weight: 500;
}

.navigation{
    background-color: rgb(185, 141, 235);
    width: 100%;
    position: fixed;
}

.btn{
    background-color:rgb(185, 141, 235) ;
    border: 0;
    margin: 0;
    line-height: 2.4;
    margin-bottom: 8px;
    
}

.btn:hover{
    background-color: rgb(209, 179, 243);
}

#feature{
    background-color: rgb(31, 29, 29);
    color:white;
}
.big-heading{
    text-align: center;
    padding: 5% 0 2% 0;
}

input{
    width: 30%;
    line-height: 2;
}

.email-input{
    text-align: center;
    margin-bottom: 2.5%;
}

.header-button{
    text-align: center;
}

.feature-img{
    width: 4rem;
    max-width: 100%;
  margin: 20px 20px 50px 20px;
}

.flex-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.features-para{
    padding:  0 30px 0 30px;
}

.features-heading{
    margin: 2rem 0 0 14rem;
}


@media (max-width:900px){
.features-heading{
    margin: 2rem 0  0  8.2rem;
}
}

.video-section{
    background-color: rgb(185, 141, 235);
}


.video-class{
  padding: 3% 0;
    text-align: center;
}

.pricing-section{
    padding: 5% 16%;
    background-color: rgb(53, 51, 51);
}


#submit{
    width: 15%;
    max-width: 100%;
}

